<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>
<div class="wrapper m-0">
  <div class="row m-0 p-0">
    <div class="col-3 bg-light p-4" style="height: 100vh">
      <h6
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        style="cursor: pointer; display: flex; align-content: center; align-items: center;"
        class="mb-4"
      >
        <img
          class="img-rounded"
          src="assets/svg/back.svg"
          [ngStyle]="{ 'height.px': 20, 'width.px': 20 }"
        />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
          style="line-height: 10px; align-self: center;"
          >Volver a página inicial</span
        >
      </h6>
      <div class="form-group">
        <input
          type="text"
          class="form-control"
          placeholder="Buscar"
          [(ngModel)]="searchText"
          (change)="getData()"
        />
      </div>
      <hr />
      <h5>* Introduzca un id para realizar la búsqueda...</h5>
      <br>
      <h5>*También puede presionar un artista desde el sunburst de la comparación de géneros</h5>
    </div>
    <div
      class="col-9 m-0 p-4 bg-gradient-secondary"
      style="overflow: scroll; max-height: 100vh;"
    >
      <!-- <div class="miImagen"></div> -->
      <div class="card card-plain ">
        <img
          src="assets/img/artista.png"
          alt="Avatar"
          style="width:20%; height:10%; margin-left: 10px; margin-top: 10px; margin-bottom: 10px;"
        />
        <div class="container">
          <table class="card__table">
            <tr>
              <td><h4 class="card__title">Artista:</h4></td>
              <td>
                <h4 class="card__title">{{ nombre }}</h4>
              </td>
            </tr>
            <tr>
              <td><h4 class="card__title">Tipo:</h4></td>
              <td>
                <h4 class="card__title">{{ type }}</h4></td>
            </tr>
            <tr>
              <td><h4 class="card__title">Pais:</h4></td>
              <td>
                <h4 class="card__title">{{ area }}</h4></td>
            </tr>
            <tr>
              <td><h4 class="card__title">link:</h4></td>
              <td>
                <h4 class="card__title">
                  <a href="url">{{ link }}</a>
                </h4>
              </td>
            </tr>
            <tr>
              <td><h4 class="card__title">Ventas:</h4></td>
              <td>
                <h4 class="card__title">
                  ${{ sales3 }} millones en el {{ year3 }}
                </h4>
              </td>
            </tr>
            <tr>
              <td><h4 class="card__title">Ventas:</h4></td>
              <td>
                <h4 class="card__title">
                  ${{ sales2 }} millones en el {{ year2 }}
                </h4>
              </td>
            </tr>
            <tr>
              <td><h4 class="card__title">Ventas:</h4></td>
              <td>
                <h4 class="card__title">
                  ${{ sales }} millones en el {{ year }}
                </h4>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="right">
      <svg class="svg" viewBox="0 0 500 500">
      </svg>
    </div>
    <div class="bottom">
            <div class="card bg-secondary card-plain text-white">
                    <div class="card-body">Secondary card</div>
            </div>
    </div>
  </div>
</div>
