<div class="wrapper m-0">
    <div class="row m-0 p-0">
        <div class="col-3 bg-light p-4" style="height: 100vh">
            <h6 [routerLink]="['/']" routerLinkActive="router-link-active"
                style="cursor: pointer; display: flex; align-content: center; align-items: center;" class="mb-4"><img
                    class="img-rounded" src="assets/svg/back.svg"
                    [ngStyle]="{'height.px': 20, 'width.px': 20}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style="line-height: 10px; align-self: center;">Volver a página inicial</span></h6>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar"[(ngModel)]="searchText" (change)="getData()">
            </div>
            <hr>
            <h5>Introduzca un id para realizar la búsqueda...</h5>
        </div>
        <div class="col-9 m-0 p-4 bg-gradient-secondary" style="overflow: scroll; max-height: 100vh;">
            <!-- <div class="miImagen"></div> -->
            <div class="card card-plain">
                <img src="assets/img/avatar.png" alt="Avatar" style="width:20%; height:10%; padding-left: 10px; padding-top: 10px;" >
                <div class="container" >
                    <table class="card__table">
                        <tr>
                            <td><h4 class="card__title">Artista: </h4></td>
                            <td><h5 class="card__title"></h5></td>
                        </tr>
                        <tr>
                            <td><h4 class="card__title">Popularidad: </h4></td>
                            <td><h4 class="card__title"></h4></td>
                        </tr>
                        <tr>
                            <td><h4 class="card__title">Pais: </h4></td>
                            <td><h4 class="card__title"></h4></td>
                        </tr>
                    </table>
                </div>
              </div>
        </div>
    </div>
</div>