 
<div class="wrapper m-0">
    <div class="row m-0 p-0">
        <div class="col-3 bg-light p-4" style="height: 100vh">
            <h6 [routerLink]="['/']" routerLinkActive="router-link-active"
                style="cursor: pointer; display: flex; align-content: center; align-items: center;" class="mb-4"><img
                    class="img-rounded" src="assets/svg/back.svg"
                    [ngStyle]="{'height.px': 20, 'width.px': 20}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span
                    style="line-height: 10px; align-self: center;">Volver a página inicial</span></h6>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="searchText" (change)="getData()">
            </div>
            <hr>
            <!-- <h4 class="images-title">Cuadro de búsqueda</h4> -->
            <div id="searchDiv" class="row overflow" [ngStyle]="{'max-height': maxHeight + 'px'}">
                <app-modal [name]="name" [artists]="artists" [popularity]="popularity" [duration]="duration" [image]="image" [show]="show"></app-modal>
            </div>
        </div>
        <div class="col-9 m-0 p-4" style="overflow: scroll; max-height: 100vh;">
            <svg class="svg" viewBox="0 0 1000 1000"></svg>
        </div>
    </div>
</div>